body {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 240px 1fr 120px;
  grid-template-rows: 80px 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / -1;
  background-color: #ddd;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.shorts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo i {
  font-size: 2rem;
  color: blue;
} 

.header-icon {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-icon i, .shorts i , .post-icon {
  font-size: 2rem;
  color: black;
}

.header-icon i:hover , .shorts i:hover, .post-icon:hover {
  color: blue;
}

.user-photo {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: blue solid 1px;
}

.friends {
  overflow: auto;
}

.friend {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 1s;
}

.friend:hover {
  background-color: blue;
  color: #fff;
  margin: 0 10px;
  /* padding: 10px 0; */
  gap: 1rem;
  letter-spacing: 2px;
  transform: scaleY(1.2);
  cursor: pointer;
}

aside {
  grid-column: 1/2;
  grid-row: 2/-1;
}

main {
  overflow: auto;
}

.posts {
  height: 100vh;
  margin: 1rem;
  padding: 1.5rem 0;
  background-color: #eee;
  align-self: self-start;
}

.post-heading i {
  margin-left: auto;

}

.post {
  width: 95%;
  margin: 1rem;
  padding: 1rem 2rem;
  background-color: #ddd;
}


/* .messenger {
  position: relative;
} */

/* .messenger-icon::after {
  content: "2";
  height: 1px;
  width: 1px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 10%;
} */